* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    padding: 40px 20px;
}

.container {
    width: 500px;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

label {
    display: block;
    margin-bottom: 20px;
}

input,
select {
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.check-group label {
    margin-bottom: 10px;
}

.check-group input {
    width: auto;
    margin-right: 5px;
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    background-color: #4c6ef5;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

p {
    margin-bottom: 10px;
    font-weight: bold;
}
.avatar-box {
    width: 120px;
    height: 120px;
    border: 2px dashed #ccc;
    border-radius: 50%;
    cursor: pointer;
    margin-bottom: 20px;

    background-image: url("https://tse3.mm.bing.net/th/id/OIP.lkVN1WDlcV2jQCq-9LT7-wHaIJ?rs=1&pid=ImgDetMain&o=7&rm=3");
    background-size: cover;
    background-position: center;
}
